In [1]:
# Import the librairies
import pandas as pd

In [2]:
# Load the dataset|
data = pd.read_csv('prediction_de_fraud.csv')

In [3]:
# Let's get a look to our dataset
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [4]:
data.isnull

<bound method DataFrame.isnull of          step      type      amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT     9839.64  C1231006815      170136.00
1           1   PAYMENT     1864.28  C1666544295       21249.00
2           1  TRANSFER      181.00  C1305486145         181.00
3           1  CASH_OUT      181.00   C840083671         181.00
4           1   PAYMENT    11668.14  C2048537720       41554.00
...       ...       ...         ...          ...            ...
1421218   743  CASH_OUT   339682.13   C786484425      339682.13
1421219   743  TRANSFER  6311409.28  C1529008245     6311409.28
1421220   743  CASH_OUT  6311409.28  C1162922333     6311409.28
1421221   743  TRANSFER   850002.52  C1685995037      850002.52
1421222   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00        0
1              19384.72  M2044282225            0.00            0.00        0
2                  0.00   C553264065            0.00            0.00        1
3                  0.00    C38997010        21182.00            0.00        1
4              29885.86  M1230701703            0.00            0.00        0
...                 ...          ...             ...             ...      ...
1421218            0.00   C776919290            0.00       339682.13        1
1421219            0.00  C1881841831            0.00            0.00        1
1421220            0.00  C1365125890        68488.84      6379898.11        1
1421221            0.00  C2080388513            0.00            0.00        1
1421222            0.00   C873221189      6510099.11      7360101.63        1

         isFlaggedFraud
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
1421218               0
1421219               0
1421220               0
1421221               0
1421222               0

[1421223 rows x 11 columns]>

In [5]:
data.shape

(1421223, 11)

In [6]:
# Separate the predictor variables and the variable to predict.
X = data.drop('isFraud', axis=1).values # drop the column isFraud
target = data['isFraud'].values

In [7]:
# Transform the categoricals data to numeric with LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [8]:
# Display the non-numeric data
print(data.select_dtypes(include=['object']))

             type     nameOrig     nameDest
0         PAYMENT  C1231006815  M1979787155
1         PAYMENT  C1666544295  M2044282225
2        TRANSFER  C1305486145   C553264065
3        CASH_OUT   C840083671    C38997010
4         PAYMENT  C2048537720  M1230701703
...           ...          ...          ...
1421218  CASH_OUT   C786484425   C776919290
1421219  TRANSFER  C1529008245  C1881841831
1421220  CASH_OUT  C1162922333  C1365125890
1421221  TRANSFER  C1685995037  C2080388513
1421222  CASH_OUT  C1280323807   C873221189

[1421223 rows x 3 columns]

In [9]:
# apply the LabelEncoder to the different fields
label_encoder = LabelEncoder()
X[:,1] = label_encoder.fit_transform(X[:,1])
X[:,3] = label_encoder.fit_transform(X[:,3])
X[:,6] = label_encoder.fit_transform(X[:,6])

In [10]:
# Share the data into train and test data
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, target, test_size=0.3, random_state=42, stratify=target)

In [12]:
# Build the model
from sklearn.svm import LinearSVC

In [13]:
svm = LinearSVC(random_state=50)

In [14]:
# fit the data in the model
svm.fit(X_train, Y_train)

c:\users\sm-pc\devs\tensorflowobjectdetectionapi\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=50, tol=0.0001,
          verbose=0)

In [15]:
# Let's do a prediction with the test data
y_pred = svm.predict(X_test)

In [16]:
# The score
svm.score(X_test, Y_test)

0.9922085902520599

In [17]:
# The confusion matrix
from sklearn.metrics import confusion_matrix

In [18]:
cm = confusion_matrix(Y_test, y_pred)
cm

array([[422293,   2990],
       [   332,    752]], dtype=int64)